<h1>Główny komponent</h1>
<ul>
  <li><a routerLink="example1">example1</a></li>
  <li><a routerLink="example2">example2</a></li>
  <li><a routerLink="example3/AAA">example3/AAA</a></li>
  <li><a routerLink="example3/BBB">example3/BBB</a></li>
  <li><a routerLink="example4/AAA">example4/AAA</a></li>
  <li><a routerLink="example4/BBB">example4/BBB</a></li>
</ul>
<router-outlet></router-outlet>
